<!DOCTYPE html>
<html lang="en">
        <% include ../head.ejs %>
        <title>Show</title>

<body>
    <% console.log(data[0]) %>
    <ul>
        <% for(var i = 0; i < 10; i++){ %>
            <li><%=data[i].title%>
                <p><%=data[i].authors%></p>
                <p><%=data[i].description%></p>
                <img src = "<%=data[i].image_link%>">
                <form action="/bookshelf" method="POST">
                    <input type="hidden" name = "title" value="<%=data[i].title %>"> 
                    <input type="hidden" name = "authors" value="<%=data[i].authors %>"> 
                    <input type="hidden" name = "description" value="<%=data[i].description %>"> 
                    <input type="hidden" name = "image_link" value="<%=data[i].image_link %>"> 
                    <input type="hidden" name = "isbn" value="<%=data[i].isbn %>"> 
                    <input type="text" name = "bookshelf" value="insert bookshelf here"> 
                    <input type="submit" value="Add to Database">
                </form>
            </li>
            <% } %>
        </ul>

</body>
</html>
