<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <p>My <%=testing.bookshelf%> Books</p>        
        <p><%=testing.title%><p>
        <p><%=testing.authors%><p>
        <p><%=testing.description%><p>
        <img src = "<%=testing.image_link%>">
    </main>
    <a href="/">
        <input type ="submit" value="Mainpage"
    </a>
    <div>
        <input type ="submit" value="Delete Book"
    </div>
</body>
</html>